html,
body {
  height: 100%;
}

strong {
  font-weight: bold;
}

d13-shell {
  display: block;
  height: 100vh;
  min-width: 380px;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

main > .container {
  padding: 140px 15px 0;
}

.required::after {
  content: '*';
  color: red;
}

.modal-backdrop {
  height: 100%;
  width: 100%;
}
